#quote {
  font-size: 30px;
  padding-bottom: 16px;
}

#heading {
  font-family: 'Nunito', sans-serif;
  padding: 45px 0 22px 0;
}

.nav h1 {
  font-family: 'Quicksand', sans-serif;
  padding-left: 25px;
}

.nav {
  background-color: #B59D75;
}

.container {
  padding: 20px 55px; 
  
}

#authTag {
  float: left;
  padding-right: 5px;
  font-family: Nunito;
  font-size: 18px;
}

#author {
  font-family: Nunito;
  font-size: 18px;
}

#leftGutter {
  height: 100%;
  float: left;
}

#rightGutter {
  height: 100%;
  float: right;
}

button {
  margin-top: 60px;
  padding: 0;
  font-family: Quicksand;
  background-color: #9E8966;
  color: white;
}

button:hover {
  background-color: #423A2B;
  
}

footer {
  display: block;
  clear: both;
  width: 685px;
  margin: 300px auto 0 auto;
}

footer iframe {
  width: 685px;
  height: 100%;
}

footer p {
  font-size: 18px;
  text-align: right;
  font-family: Nunito;
  padding-bottom: 15px;
}



