* {
	margin: 0;
}
html {
	height: 100%;
	position: relative;

}
body {

	margin: 0;
	background-image: url("http://iecsharepoint.i-e-c.net/IT/SiteAssets/img/IT_Logo_Banner.png");
	height: 100%;
}

/**********************************
List Styles
***********************************/

.links {
	list-style-type: none;
}

.contactInfo, .contactList {
	list-style-type: none;

}
#contacts {
	position: absolute;
	bottom: 0;
	margin: 30px auto 0;
	width: 100%;
	clear: both;
}

#contactList {
	text-align: center;
	}

.contactInfo {
	display: inline-block;
	

}

.contactDetails {
	font-size: .8em;
	list-style-type: none;
	text-align: center;
	margin: 12px;
	font-family: 'Source Sans Pro', sans-serif;
}



/**********************************
main styles
***********************************/
#header {
	height: 12%;
	background-color: #404040;
	padding: 2%;
}
.links {
	display: inline-block;
	margin: 58px auto;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 36px;
	padding-right: 80px;

}
#message a {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.nav {
	width: 50%;
	margin: auto;
}
#faq, #helpDesk, #support {
	list-style-type: none;
	margin: auto;
	text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}
#faq {
	float: right;
	width: 68px;
}
#helpDesk {
	float: left;
	width: 68px;

}
#support {
	margin: 0 auto;
	width: 68px;
}

#message {
	width: 60%;
	padding: 1.2%;
	margin: 38px auto;

}
#main {
	width: 100%;
	padding: 1.4%;
	padding-bottom: 60px;

}

/**********************************
Colors
***********************************/

#contacts {
	background: #9e9e9e;
}

a {
	text-decoration: none;
	color: #0099cc;
	font-weight: bold;
}


/*********************************
Responsive ellements
***********************************/

@media screen and (max-width: 764px) {
	#header {
		height: 7%;
	}

	#message {
		font-size: .8em;
	}
	#header img {
		width: 150px;
		padding: 0 40px 0 55px;
	}

}

@media screen and (max-width: 640px) {
	#header {
		height: 2%;
	}

	#header img{
		display: none;
	}
}